html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: Poppins, Arial;
    padding-bottom: 3000px;
    background-color: lightblue;
 }

.home-page {
    background-color: #22252e;
    height: 100vh;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.profile-container {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}

.profile-image-container {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .5);
}

.greeting {
    font-weight: 700;
    font-size: 15px;
    color: rgb(200, 200, 200);
    margin-top: 35px;
    margin-bottom: 5px;
}

.name {
    font-family: Poppins, Arial;
    font-weight: 500;
    font-size: 30px;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.occupation {
    font-family: Poppins, Arial;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(200, 200, 200);
}

.sosmed i {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.bx:hover {
    color: rgb(200, 200, 200);
}

.sidebar {
    position: fixed;
    top: calc(50% - 183px);
    height: 336px;
    padding: 15px 10px;
    background-color: rgba(106, 113, 180, 0);
    border-radius: 20px;
    left: 30px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.sidebar-link {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: white;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    z-index: 3;
}

.sidebar-link:hover, 
.active {
    background-color: rgb(157, 46, 201);
}

.active {
    width: 60px;
    height: 60px;
}

.sidebar-link i {
    font-size: 25px;
    color: black;
    transition: .2s;
}

.sidebar-link:hover i,
.active i {
    color: white;
}

.active i {
    font-size: 30px;
}

.sidebar-link span {
    position: absolute;
    left: 60px;
    color: white;
    opacity: 0;
    transition: .2s;
    pointer-events: none;
    z-index: 3;
}

.sidebar-link:hover span,
.active span {
    opacity: 1;
}

.active span {
    left: 80px;
}

.about-page {
    background-color: rgb(44, 46, 58);
    height: 1000px;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100vh;
    left: 0px;
    right: 0px;
}

.grid-container {
    width:1200px;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.about-header, 
.facts-header {
    font-size: 32px;
    font-weight: 600;
    border-bottom: solid 2px rgb(255, 255, 255);
}

.about-header {
    margin-bottom: 50px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.about-image {
    width: 100%;
    border-radius: 10px;
    transition: .2s ease-out;
}

.about-image:hover {
    transform: scale(1.1);
}

.text-section {
    padding-left: 40px;
}

.text-section p {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    text-align: justify;
}

.facts-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 80px;
}

.facts-section p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(200, 200, 200);
    font-weight: 600;
}

.facts-grid-container {
    display: flex;
    justify-content: center;
}

.facts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 150px;
    row-gap: 80px;
    margin-bottom: 40px;
}

.fact {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    height: 140px;
    background-color: rgb(203, 213, 225);
    color: black;
    border-radius: 10px;
    transition: .2s;
}

.fact:hover {
    transform: translate(0px,-20px);
}

.fact-icon-wrap {
    width: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.fact-icon-wrap i {
    font-size: 50px;
    line-height: 50px;
    pointer-events: none;
}

.fact-count {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.fact p {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #22252e;
    border-bottom: 2px solid white;
}

.portofolio-page,
.contact-page,
.services-page,
.footer {
    margin: 0px 0px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.portofolio-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    top: calc(100vh + 1000px);
    background-color: #22252e;
}

.portofolio-header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portofolio-header {
    font-size: 32px;
    font-weight: 600;
    height: 48px;
    display: inline-block;
    text-align: center;
}

.portofolio-header::after {
    content: '';
    display: block;
    border-bottom: solid 2px rgb(255, 255, 255);
    transform: scaleX(.5);
}

.portofolio-desc {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(200, 200, 200);
    font-weight: 600;
}

.portofolio-grid {
    height: 600px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    opacity: 1;
}

.project {
    height: 350px;
    color: #22252e;
    background-color:  rgb(203, 213, 225);
    padding: 0px 0px 35px 0px;
    border-radius: 20px;
    transition: all .2s ease;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, .5);
}

.project:hover {
    height: 550px;
    
}

.project:hover .project-desc {
    opacity: 1;
}

.project p {
    font-size: 20px;
    font-weight: 600;
}

.project img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.project-text-wrap {
    padding: 0px 20px;
}

.project-desc {
    opacity: 0;
    transition: all .3s;
}

.project-desc::before {
    content: '';
    display: block;
    border-bottom: 2px solid #22252e;
}

.project-desc p {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: justify;
}

.project-desc p a {
    text-decoration: underline;
    color: #22252e;
}

.services-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    top: calc(100vh + 1900px);
    background-color:  rgb(0, 0, 0);
}

.services-grid {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 150px;
}

.services-header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.services-header {
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    color: #ffffff; 
}

.services-header-wrap p {
    margin-top: 8px;
    color: rgb(200, 200, 200);;
    font-weight: 600;
}

.service-section {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

svg {
    position: absolute;
    top: -160px;
    width: 800px;
    left: 42%;
    opacity: .9;
}

.service {
    background-color: rgb(136, 122, 214);;
    width: 250px;
    padding: 30px 0px;
    display: grid;
    grid-template: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    transition: .5s ease;
    z-index: 1;
}

.service:hover {
    background-color: white;
    border-radius: 85% 15% 81% 19% / 10% 82% 18% 90%;
}

.service:hover i,
.service:hover p,
.service:hover .service-desc {
    color: rgb(136, 122, 214);
}

.service i {
    font-size: 30px;
    text-align: center;
    transition: .2s;
}

.service p {
    font-size: 20px;
    text-align: center;
    transition: .2s;
}

.service-desc {
    text-align: center;
    font-size: 12px;
    margin: 0px 15px;
    transition: .2s;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-bottom: 500px;
    top: calc(100vh + 2450px);
    background-color: #22252e;
    z-index: -2;
}

.contact-section {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header-wrap {
    width: 850px;
    text-align: center;
}

.contact-header {
    font-size: 32px;
    font-weight: 600;
    height: 48px;
    display: inline-block;
    text-align: center;
}

.contact-header::after {
    content: '';
    display: block;
    border-bottom: 2px solid white;
    transform: scaleX(.5);
}

.contact-header-wrap p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(200, 200, 200);
    font-weight: 600;
}

.input-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.name-email {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.subject,
.message {
    width: 100%;
}

input, textarea {
    width: calc(100% - 28px);
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(214, 214, 214);
    padding: 6px 12px;
    outline: none;
    font-size: 15px;
    font-family: Poppins, Arial;
}

textarea {
    height: 150px;
    resize: vertical;
}

input:focus , 
textarea:focus {
    border: 2px solid rgb(126, 167, 214);
}

input::placeholder,
textarea::placeholder {
    font-size: 15px;
    font-family: Poppins, Arial;
}

.button-wrap {
    margin-top: 30px;
    position: relative;
}

.send-button {
    width: 170px;
    font-size: 15px;
    font-family: Poppins, Arial;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
    background: none;
    padding: 6px 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    transition: .2s ease;
}

.send-button:hover {
    color: #22252e;
}

.send-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    z-index: -1;
    transition: .2s ease;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.send-button:hover::before {
    transform: scaleX(1);
}

.send-button:active {
    opacity: .8;
}

.footer {
    height: 500px;
    background-color: rgb(19, 19, 19);
    top: calc(100vh + 3150px);;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    .sidebar {
        display: none;
    }

    .portofolio-grid {
        grid-template-columns: 1fr;
        width: 575px;
        height: 820px;
        row-gap: 50px;
        margin: 0 auto 0 auto;
        margin-bottom: 210px;
    }

    .portofolio-page {
        height: 1350px;
    }
    
    .services-page {
        top: calc(100vh + 2350px);
    }

    .blob-wrap {
        display: none;
    }

    .contact-page {
        top: calc(100vh + 2900px);
    }
}

@media (max-width: 1150px) {
    .facts-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 250px;
        row-gap: 100px;
    }

    .about-page {
        height: 1350px;
    }

    .portofolio-page {
        top: calc(100vh + 1350px);
    }

    .services-page {
        top: calc(100vh + 2700px);
    }

    .services-grid {
        grid-template-columns: 1fr;
        margin-right: 0px;
    }

    .services-header-wrap {
        width: 100%;
        margin-bottom: 20px;
    }

    .services-header {
        margin-bottom: 20px;
    }

    .services-header::after {
        content: '';
        display: block;
        border-bottom: 2px solid white;
        transform: scaleX(.5);
        margin-top: 5px;
    }

    .contact-page {
        top: calc(100vh + 3250px);
    }
}

@media (max-width: 870px) {
    .row {
        grid-template-columns: 1fr;
    }

    .about-image {
        width: 55%;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-section {
        padding: 0px 40px;
    }

    .about-page {
        /*height: 1350px;*/
        height: 1800px;
    }

    .portofolio-page {
        /*top: 2450px;*/
        top: calc(100vh + 1800px);
    }

    .services-page {
        top: calc(100vh + 3150px);
    }

    .contact-page {
        top: calc(100vh + 3700px);
    }
}

@media (max-width: 650px) {
    .facts-grid {
        grid-template-columns: 1fr;
        row-gap: 80px;
    }

    .facts-header {
        text-align: right;
    }

    .about-image {
        width: 80%;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-image:hover {
        transform: none;
    }

    .text-section {
        padding: 0px 30px;
    }

    .text-section p {
        font-size: 16px;
        font-weight: 300;
    }

    .about-page {
        /*height: 1800px;*/
        height: 2450px;
    }
    
    .portofolio-page {
        /*top: 2900px;*/
        top: calc(100vh + 2450px);
        height: 1100px;
    }

    .portofolio-grid {
        width: 300px;
        height: 531px;
        margin-bottom: 200px;
        row-gap: 0px;
        column-gap: 0px;
    }

    .project {
        height: 185px;
        margin-bottom: 50px;
        border-radius: 20px;
        padding-bottom: 30px;
    }

    .project:hover {
        height: 430px;
    }

    .project p {
        font-size: 18px;
        margin-top: 10px;
    }

    .project-desc p {
        font-size: 13px;
    }

    .services-page {
        height: 800px;
        top: calc(100vh + 3550px);
    }

    .service-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }

    .contact-page {
        top: calc(100vh + 4350px);
    }
}
